/* entire site as a single container */
.container {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto', arial;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.navbar {
    padding-top: 5px;
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 100px;
}

.header,
.footer {
    background-color: #1f2937;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-logo img {
    width: 100px;
    height: 100px;
}

.header-links{
    display: flex;
    padding-right: 50px;
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
    gap: 15px;
}

button {
    color: #FFFFFF;
    background-color: #3882f6;
}

.hero-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero-body .paragraph {
    margin-right: 150px;
    text-align: left;
    flex-direction: column;
}

.hero-body .paragraph h1{
    font-size: 48px;
    font-weight: bold;
    width: 350px;
    color: #f6faf8;
}

.hero-body .paragraph p{
    width: 300px;
}

.hero-body .paragraph button {
    width: 110px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.hero-body .hero-img {
    display: flex;
    height: 350px;
}




.main-body .content h2{
    font-size: 36px;
    font-style: bold;
    color: #1f2937;
    margin-left: auto;
}

.qoute{
    background-color: #e5e7eb;
}
.qoute p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.sign-text,
.sign-button {
    background-color: #3882f6;
}

